.details-pages {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.details-pages__header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.details-pages__title {
    font-size: 24px;
    text-align: center;
    color: #333;
}

.details-pages__list {
    list-style-type: none;
    padding: 0;
}

.details-pages__list-item {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.details-pages__list-title {
    margin-top: 0;
    font-size: 20px;
    color: #4CAF50;
}

.details-pages__list-description {
    font-size: 16px;
    color: #666;
    margin: 10px 0;
    background-color: #f9f9f9;
    padding: 10px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
    text-align: justify;
}


.details-pages__list-info {
    font-size: 14px;
    color: #999;
    align-self: flex-start;
}

.details-pages__button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.details-pages__button--delete {
    background-color: #f44336;
    margin-left: 10px;
}

.details-pages__button:hover {
    opacity: 0.8;
}

.details-pages__back-link {
    display: block;
    margin-top: 20px;
    text-align: center;
    color: #4CAF50;
    text-decoration: none;
    font-size: 16px;
}

.details-pages__back-link:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .details-pages {
        padding: 20px;
        max-width: 100%;
    }

    .details-pages__title {
        font-size: 20px;
    }

    .details-pages__list-item {
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 20px;
    }

    .details-pages__list-title {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .details-pages__list-description,
    .details-pages__list-info {
        font-size: 14px;
    }

    .details-pages__button {
        padding: 8px 10px;
        font-size: 12px;
    }


    .details-pages__back-link {
        font-size: 14px;
    }
}