.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #4CAF50, #8BC34A);
    color: #fff;
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 20px;
}

.homepage__title {
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.homepage__nav {
    margin-top: 30px;
}

.homepage__nav ul {
    list-style-type: none;
    padding: 0;
}

.homepage__nav li {
    display: inline;
    margin: 0 10px;
}

.homepage__nav a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.homepage__nav a:hover {
    background-color: #fff;
    color: #4CAF50;
}

@media (max-width: 768px) {
    .homepage__title {
        font-size: 2em;
    }
    .homepage__nav a {
        padding: 8px 10px;
        font-size: 1.2em;
    }
}


@media (max-width: 600px) {
    .homepage {
        min-height: 75vh;
    }

    .homepage__title {
        font-size: 1.5em;
        margin-bottom: 10px;
    }

    .homepage__nav li {
        display: block;
        text-align: center;
        margin-bottom: 10px;
        font-size: 0.8em;
        width: 100%;
    }

    .homepage__nav a {
        display: inline-block;
       width: 60%;
        margin: 0 auto;
    }

    .homepage__nav {
        width: 100%;
    }

}
